mat-card {
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    border: none;
    box-shadow: none;

    .mat-mdc-card-title{
        margin-bottom: 10px;
    }
  
    mat-card-header {
      text-align: center;
  
      mat-card-title {
        font-size: 1.5rem;
        font-weight: bold;
        color: #333; // Text color
      }
    }
  
    mat-card-content {
      form {
        display: flex;
        flex-direction: column;
        gap: 16px;
  
        mat-form-field {
          width: 100%;
        }
      }
    }
  
    mat-card-actions {
      display: flex;
      justify-content: center;
      margin-top: 20px;
  
      button {
        background-color: #007bff; // Blue color
        color: #fff;
        text-transform: none;
        padding: 10px 20px;
        border-radius: 4px;
        border: none;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  
        &:hover {
          background-color: #0056b3; // Darker blue for hover
          transform: scale(1.1);
        }
      }
    }
  }
  