mat-toolbar {
    display: flex;
    justify-content: space-between;
    background-color: #007bff;
  }
  
  .app-nav-icon {
    color: rgb(255, 255, 255);
    font-size: 32px;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  
  .desktop-nav {
    display: flex;
  }
  
  @media (min-width: 480px) {
    .menu-icon {
      display: none;
    }
  }
  
  @media (max-width: 480px) {
    .desktop-nav {
      display: none;
    }
  }

  .mat-mdc-menu-item, .mat-mdc-menu-item:visited, .mat-mdc-menu-item:link {
    color: #ffffff;
}